.form-horizontal {
  position: static;
  background-color: #ffffcc;
  padding:10px;
  margin: 20px 0;
  max-width: 500px;
  border-radius: 8px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
}

#responce {
  background-color: #ffffcc;
  padding:10px;
  margin: 20px 0;
  max-width: 500px;
  border-radius: 8px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
}

#div_id_key,#id_key,#id_status,#query{
    margin-top: 5px;
}