body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height:1000px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* blog css */
.jumbotron {
  font-family: Georgia, "Times New Roman", Times, serif;
}

 .blog-content {
  padding: 0;
}
.blog-content > h2, h6 {
  display: inline;
}
.jumbotron .info-blog {
  margin: 40px 0;
  font: 20px normal;
}
.search-blog {
  float: right;
  padding-top: 5px;
  margin-bottom:15px;
}
.search-input {
  border-radius: 10px;
  padding-left: 5px;
}
.search-input:focus {
  outline: none;
}
.search-button:focus {
  outline: none;
}
.search-button {
  border-radius: 10px;
}
.post-content {
  padding: 0;
}
.post-message {
  background-color: #ffffcc;
  padding:10px;
  margin: 20px 0;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,1);
}
.post-message a {
  text-decoration: none;
  font: 20px normal;
}
.post-message p {
  font-size: 15px;
  font-style: italic;
}
.current {
  font-style: italic;
}



body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  }
  .navbar-static-top {
  margin-bottom: 19px;
}
