{% extends 'base.html' %}
{% load i18n %}


{% block content %}

        <h4>{% trans "Hi my name is Andrey Skorokhod and this is my Task-manager web app." %}</h4>
        <h4>{% trans "This app was made as a part of my developer portfolio" %} </h4>
        <h4>{% trans "If you are the person, who wants to increase you productivity." %}</h4>
        <h4>{% trans "App will help you  with managing  your projects and tasks more effectively." %}</h4>
        <h4>{% trans "App allows you to create projects and task to them" %}</h4>
        <h4>{% trans "Each task have priority(A,B,C,D,E) and Status (current or done)" %}</h4>
        <h4>{% trans "If you complete you task, set its status as 'Done'" %}</h4>
        <h4>{% trans "If you complete you task or project just click 'Delete' button" %}</h4>
        <h4>{% trans "App provides you handy sorting mechanism" %}</h4>
        <h4>{% trans "You can send and receive messages with other users" %}</h4>
        <h4>{% trans "You can share you projects and tasks with anyone you want to" %}</h4>
        <h4>
            {% trans "All information about you that app receives, is secure, so you so nobody w'ont be able to get info about your private tasks and projects" %}
        </h4>
        <h4>{% trans "So don't be shy and register" %}</h4>
        <h4>{% trans "This app was made on " %} <a href="https://www.djangoproject.com/">Django framework</a>
        </h4>
{% endblock %}