{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title>Task-manager</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-sortable.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">






    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">
<!--style="background-color:#cc99ff;"-->
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:#0066ff;font-style: italic;font-weight: bold;" href='{% url "startpage" %}'>
              Task manager <i class="fa fa-check"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="font-weight: bold;">
          <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "My menu" %}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href='{% url "startpage" %}'>{% trans "My projects" %}</a></li>
                  <li><a href='{% url "profile" id=request.user.id %}'>{% trans "My profile" %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href='{% url "userslist" %}'>{% trans "All users" %}</a></li>
                    <li role="separator" class="divider"></li>
                  <li class="dropdown-header">{% trans "My messages" %}</li>
                  <li><a href='{% url "inbox" %}'>{% trans "Inbox" %}</a></li>
                    <li><a href='{% url "outbox" %}'>{% trans "Outbox" %}</a></li>
                  <!--<li><a href="#">Something else here</a></li>-->
                  <!--<li class="dropdown-header">Nav header</li>-->

                  <!--<li><a href="#">One more separated link</a></li>-->
                </ul>
              </li>
{% endif %}
            <li><a href='{% url "about" %}'>{% trans "About" %}</a></li>
             <li><a href='{% url "home" %}'>{% trans "Dev blog" %}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

                       {% if request.user.is_anonymous %}

              <li><a href="/accounts/login/">{% trans "Sign in" %}</a></li>
              <li><a href="/accounts/signup/">{% trans "Register" %}</a></li>
              <li><a href="/accounts/password/reset/">{% trans "Forget Password" %}</a></li>
              {% else %}
              <li><a href="/accounts/logout/">{% trans "Log out" %}</a></li>
              {% endif %}
              <li  style="margin:8px 0;">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select type="button"  name="language" class="icons btn" onchange="this.form.submit()">

                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <option value="" disabled selected>{% trans "Change language" %}</option>
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} disabled selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
                </li>
              <!--example-->
            <!--<li><a href="../navbar/">Default</a></li>-->
            <!--<li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>-->
            <!--<li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        <div  class="container theme-showcase" role="main">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
{% block content %}


{% endblock %}
                    </div>


    </div><!-- /container -->
<div class="row">


    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1700736306849105',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="col-md-6">
    <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    </div>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
    <script type="text/javascript">VK.init({apiId: 5339536, onlyWidgets: true});</script>

    <div class="col-md-6" id="vk_like"></div>
    <script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button"});</script>
    </div>
{% block comment %}

{% endblock comment %}
    <footer  class="navbar-fixed-bottom row-fluid" style="background-color:#101010;margin-top:30px;">
        <div class="navbar-inner">
        <div class="container">
                    <ul>
                      <li><a  href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
                      <li><a  href='{% url "ceasar" %}'>{% trans "Ceasar cipher" %}</a></li>
                    </ul>

                </div>
              </div>
    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <!--myscript-->
     <script src="{% static 'js/myscript.js' %}"></script>
    <!--sortable-->
    <script src="{% static 'js/bootstrap-sortable.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
  </body>
</html>
