{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<link href="{% static 'css/ceasar.css' %}" rel="stylesheet" >
<div class="post-message">
<p>New California Republic | Ceasar Cipher</p>
<p>Hello brave ranger.If you tired to decrypt Ceasars legion messages this app is for you</p>
<p>This is simple Ceasar Cipher.It allows you to encode and decode messages.After you submit your text to decode or
    encode, programm will show you diagram with letters quantity.</p>
<p>If you want to decode text, programm will try to guess letters shift and will tell you the most possible shift
    number,
   based on english letter frequency.The bigger text is, the bigger chance that guessing will be correct. </p>
<p>It works ONLY with ENGLISH letters and simbols.</p>
<p>This application was made as a part of testing excercise for  Light IT</p>
<p>Glory to NCR!</p>
<img src="http://vignette2.wikia.nocookie.net/fallout/images/c/cb/Ncr_ranger.jpg/revision/latest?cb=20110210025018"
     class="img-rounded" alt="Cinque Terre" width="304" height="236">
</div>
<div class="row">
    <div class="col-md-6">
<form class="form-horizontal" method="post" action="" style="position: relative;float: left;">{% csrf_token %}
        {{ form|crispy }}
<input type="submit" id="query" class="validate" required >
</form>
</div >
{% if new_text %}
<div>
<textarea class="textarea" cols="40" id="responce" name="content" rows="10" style="position: relative;float: right;">
{{ new_text }}</textarea>
</div>
{% else %}
<div class="col-md-6">
<textarea class="textarea" cols="40" id="responce" name="content" rows="10" style="position: relative;float: right;">
</textarea>
</div>
{% endif %}
     </div>
<div class="row">
{% if guess %}
    <div class="col-md-6">
    <div  class="alert alert-danger " role="alert">Programm assumes that shift(key) is
        <span style="font-size:20px;font-weight:bold">
        {{ guess }}</span></div>
        </div>
{% endif %}
{% if letter_count %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows({{ letter_count|safe }});

        // Set chart options
        var options = {'title':'Letters count',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div class="col-md-6">
 <div id="chart_div" ></div>
        </div>
{% endif %}


{% endblock %}
