{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> <h3>{{ message }}</h3> </li>
    {% endfor %}
</ul>
{% else %}
         <h3>{% trans "Here you can contact us or send feedback" %}</h3>
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
                {{ form|crispy }}
<input type="submit" id="query" class="validate" required >
</form>
        {% endif %}

{% endblock %}