{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h2>Set name for your project</h2>
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
    {{ form|crispy  }}
    <input class="btn btn-md btn-info" role="button" type="submit" value="Create Project"/>

</form>


{% endblock content %}