{% extends "base.html" %}

{% block content %}

    <h3>{{ obj.title }}</h3>
    <h5>{{ obj.date }} | Author: {{obj.user }}</h5>
    <p>{{ obj.content|linebreaks }}</p> <!-- truncate shows 120 chars in pre menu(templates work-->

    {% if obj.image %}
    <h5><img src="{{ obj.image.url }}" class="img-responsive"/></h5>
    {% endif %}

<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

<script type="text/javascript">
  VK.init({apiId: 5240164, onlyWidgets: true});
</script>




{% endblock content %}


{% block comment %}
<div style="margin-left:20%;margin-top:10px;" class="container">
<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: "*"});
</script>
</div>
{% endblock comment %}