{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}


    <p><strong class="text-capitalize">{{ proj.title }}</strong></p>
          <p style="font-size:10px;">{{ proj.date }}</p>
    <p>{% trans "Author" %}: {{ proj.author }}</p>
    {% if proj.author == request.user.username %}
    <p><a class="btn btn-md btn-primary" data-toggle="modal"
             data-target="#create">{% trans "create new task" %}</a></p>
          <!--modal starts-->
          <div class="modal fade" tabindex="-1" role="dialog" id="create">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans  "Create task" %}</h4>
      </div>
      <div class="modal-body">
          <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy  }}
                    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "back" %}</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Create task"/>
                        </div>
          </form>
      </div>
            </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
{% endif %}
{% if tasks %}

      <table class="table table-bordered table-striped sortable ">
    <thead>
      <tr>
            <th>{% trans "task name" %}</th>
            <th>{% trans "task prio" %}</th>
            <th>{% trans "task status" %}</th>
            <th>{% trans "task deadline" %}</th>
          {% if proj.author == request.user.username %}
            <th>{% trans "edit task" %}</th>
            <th>{% trans "delete task" %}</th>
          {% endif %}
      </tr>
    </thead>
          <tbody>
          <!--<li>{{ proj.content|linebreaks|truncatechars:120 }}</li> &lt;!&ndash; truncate shows 120 chars in pre menu(templates work&ndash;&gt;-->
          {% for task in tasks %}

          <tr>
              <td><a href='{% url "task_detail" id=proj.id id_t=task.id %}'> {{ task.task_name }}</a></td>
              <td>{{ task.task_priority }}</td>
              <td>{{ task.task_status }}</td>
              <td style="font-size:12px;">{{ task.deadline }}</td>
              {% if proj.author == request.user %}
              <td>
                  <a onclick="editTsk({{ task.id }})" class="btn btn-md btn-info" type="submit" data-toggle="modal"
                     data-target="#editTask">{% trans "Task edit" %}</a>
                  <div class="modal fade" tabindex="-1" role="dialog" id="editTask">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                          aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title">{% trans "Edit you task" %}</h4>
                              </div>
                              <div class="modal-body">
                                  <form method="POST" action='{% url "task_edit" id=proj.id id_t=task.id %}'
                                        enctype="multipart/form-data" id="for_add_t">{% csrf_token %}
                                      <div class="modal-footer">
                                          <button onclick="cleanTask()" type="button" class="btn btn-success"
                                                  data-dismiss="modal">{% trans "back" %}
                                          </button>
                                          <input class="btn btn-md btn-info" role="button" type="submit"
                                                 value="Edit Task"/>
                                      </div>
                                  </form>
                              </div>

                          </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->

              </td>
              <td>
                  <a onclick="del_t({{ proj.id }},{{ task.id }})" class="btn btn-md btn-danger" data-toggle="modal"
                     data-target="#myModal">
                      {% trans "delete task" %}
                  </a></td>
              {% endif %}
          </tr>
          <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                  aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">{% trans "Delete" %} </h4>
                      </div>
                      <div class="modal-body">
                          <p>{% trans "You sure want to delete?" %}&hellip;</p>
                      </div>
                      <div class="modal-footer">
                          <button onclick="cleanDelT()" type="button" class="btn btn-success" data-dismiss="modal">{%
                              trans "No" %}
                          </button>
                          <a id='yes_t' type="button" class="btn btn-danger">{% trans "Yes" %}
                          </a>
                      </div>
                  </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          </tbody>
          {% endfor %}
      </table>
{% else %}
<h4>{% trans "Create you tasks here" %}</h4>
{% endif %}



{% endblock content %}