{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{% load crispy_forms_tags %}



          <a class="btn btn-lg btn-primary"  role="button" data-toggle="modal"
             data-target="#create" style="margin-bottom:15px;">{% trans "Create new project" %}</a>
          <!--start create-->
          <div class="modal fade" tabindex="-1" role="dialog" id="create">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Create project" %}</h4>
      </div>
      <div class="modal-body">
          <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy  }}
                    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "back" %}</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Create Project"/>
                       </div>
          </form>
      </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<!--&lt;!&ndash; /.modal &ndash;&gt; table table-bordered table-striped sortable-->
{% if all_proj %}
              <table class="table table-bordered table-striped sortable">
    <thead>
      <tr>
            <th>{% trans "project name" %}</th>
            <th>{% trans "date" %}</th>
            <th>{% trans "edit project" %}</th>
            <th>{% trans "delete project" %}</th>
      </tr>
    </thead>
          <tbody>

        {%  for proj in all_proj %}
              <tr>
        <td>
            <a href='{% url "details" id=proj.id %}'> {{ proj.title }}</a>
        </td>
                  <td>
                      <p style="font-size:10px;">{{ proj.date }}</p>
                  </td>
        <td>
          <a onclick="edit({{ proj.id }})" class="btn btn-md btn-info"  type="submit" data-toggle="modal"
             data-target="#testedit">{% trans "Edit project" %}</a>
                      <div class="modal fade" tabindex="-1" role="dialog" id="testedit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Edit  your project" %}</h4>
      </div>
      <div class="modal-body" >
          <form method="POST" action='{% url "proj_edit" id=proj.id %}' enctype="multipart/form-data" id="for_add">{% csrf_token %}
                    <div class="modal-footer">
        <button onclick="cleanProject()" type="button" class="btn btn-success" data-dismiss="modal">back</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Edit Project"/>
                        </div>
                        </form>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        </td>
        <td>
          <a onclick="del_p({{ proj.id }})" class="btn btn-md btn-danger"  id='delete'  role="button" data-toggle="modal"
             data-target="#myModal">
              {% trans "Delete" %}</a>
<!--modal menu starts -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Delete" %} </h4>
      </div>
      <div class="modal-body">
        <p>{% trans "You sure want to delete?" %}&hellip;</p>
      </div>
      <div class="modal-footer">
        <button onclick="cleanDel()" type="button" class="btn btn-success" data-dismiss="modal">{% trans "No" %}</button>
        <a id="yes" type="button" class="btn btn-danger" >{% trans "Yes" %}</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
            <!--modal menu ends-->
        </td>
              </tr>



        {% endfor %}
        {% else %}
        <h4>{% trans "Create your first project now!" %}</h4>
        {% endif %}

                    </tbody>
  </table>

{% endblock %}