{% extends "base.html" %}
{% block content %}
<div class="blog-content">
<h2>Dev blog</h2>

<form  class="search-blog" method="GET"  action="">
    <input class="search-input"  type="text" name="query" value="{{ request.GET.query }}"/>
    <input class="search-button" type="submit" value="SEARCH">
</form>

<!--search form-->
<p class="info-blog">Это блог разработчика. Тут я буду писать что я сделал в предыдущей версии и что я планирую еще сделать.
    Писать буду на русском. Перевод постов не делаю.
</p>

        <div class="container" id="post">
      <!-- Main component for a primary marketing message or call to action -->
            {% for post in all_posts %}
      <div class="jumbotron post-content">
            <div class="post-message">
                {% if post.image %}
        <p>
            <img src="{{ post.image.url }}" class="img-responsive" alt="Responsive image"  />
        </p>
        {% endif %}
          <div style="padding:10px;margin-bottom: 20px;margin-top: 20px;">

        <p ><a href='{% url "detail_post" id=post.id %}'>{{ post.title }}</a></p>
        <p style="font-size:85%">{{ post.date }}</p>

        <h6>{{ post.content|linebreaks|truncatechars:120   }}</h6>

</div>
              </div>
          </div>
             {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if all_posts.has_previous %}
                <a href="?page={{ all_posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}.
            </span>

            {% if all_posts.has_next %}
                <a href="?page={{ all_posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>


{% endblock content %}


              <div class="blog-content">
                <h2>Dev blog</h2>
                <!--search form-->
                <form class="search-blog" method="GET"  action="">
                      <input class="search-input" type="text" name="query" value=""/>
                      <input class="search-button" type="submit" value="SEARCH">
                </form>
                <p class="info-blog">Это блог разработчика. Тут я буду писать что я сделал в предыдущей версии и что я планирую еще сделать.
                  Писать буду на русском. Перевод постов не делаю.
                </p>

                <div class="container" id="post">
                  <!-- Main component for a primary marketing message or call to action -->

                  <div class="jumbotron post-content">


                      <div class="post-message">

                        <p><a href='/devblog/details/3/'>Большое обновление 3</a></p>
                        <p style="font-size:85%">17 марта 2016 г. 20:47</p>

                        <h6><p>Не выздоровел, но все же...<br />Запушил много что нового.Поменялся немножко дизайн(теперь все менее печально).Поч...</h6>



