{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<p>{% trans "from" %} : {{ msg.sender }}</p>
<p>{% trans "to" %} : {{ msg.receiver }}</p>
<p>{% trans "sended" %}: {{ msg.date }}</p>
<p>{% trans "title" %} :{{ msg.title }}</p>
<p>{% trans "Message" %} : {{ msg.content }}
<p>
    <a class="btn btn-md btn-primary"  role="button" data-toggle="modal"
             data-target="#create">{% trans "Send private message" %}</a>
          <div class="modal fade" tabindex="-1" role="dialog" id="create">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Send message" %}</h4>
      </div>
      <div class="modal-body">
          {% if msg.receiver == request.user %}
          <form method="POST" action='{% url "snd"  id=msg.receiver.id %}' enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy  }}
                    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "back" %}</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Send"/>
                       </div>
          </form>
          {% else %}
          <form method="POST" action='{% url "snd"  id=msg.sender.id %}' enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy  }}
                    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "back" %}</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Send"/>
                       </div>
          </form>
          {% endif %}
      </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</p>

{% endblock content %}