{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ title }}</h1>
              <table class="table table-condensed table-striped sortable">
    <thead>
      <tr>
            <th>{% trans "title" %}</th>
            <th>{% trans "sender" %}</th>
            <th>{% trans "receiver" %}</th>
            <th>{% trans "date" %}</th>

            <th>{% trans "delete msg" %}</th>
      </tr>
    </thead>
          <tbody>
{% for message in messages %}
              <tr>
                  <td>
        <a href='{% url "message" id=message.id %}'>{{ message.title }}</a>
            </td>
        <td>
            {{ message.sender }}
        </td>
                  <td>
                      <a href='{% url "profile" id=message.receiver.id %}'>{{ message.receiver }}</a>
                  </td>

        <td>
        {{ message.date }}
        </td>

                  <td>
              <a onclick="delMsg({{ message.id }})" class="btn btn-md btn-danger"  data-toggle="modal" data-target="#myModal">
              {% trans "delete message" %}
              </a></td>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Delete" %} </h4>
      </div>
      <div class="modal-body">
        <p>{% trans "You sure want to delete?" %}&hellip;</p>
      </div>
      <div class="modal-footer">
        <button  onclick="cleanDelMsg()" type="button" class="btn btn-success" data-dismiss="modal">{% trans "No" %}</button>
        <a id='delmsg' type="button" class="btn btn-danger" >{% trans "Yes" %}
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
              </tr>


{% endfor %}
</tbody>
                  </table>
{% endblock content %}
