{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
      <div class="modal-body">
          <p>{% trans "Your accout name is" %} {{ request.user.username }}</p>
          <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy  }}
                    <div class="modal-footer">
        <input class="btn btn-md btn-info" role="button" type="submit" value="Edit profile"/>
                        </form>
          </div>
      </div>
{% endblock content %}
