{% extends "base.html" %}
{% load i18n %}
{% block content %}

          <h2>{% trans "Welcome to task manager" %}</h2>
        <h4>{% trans "This app was made as a part of my web develop portfolio " %}</h4>
        <h4>{% trans "The purpose of creating was to make django web application with wide functionality,using different programming languages and different technologies" %}</h4>
           <h4>{% trans "Task manager is  a web application that helps you with managing your projects and tasks." %}</h4>
            <h4>{% trans "Also it could be used as tiny social network.Where you can share your task with your friends and contact with other  registered users via private messages" %}</h4>
        <h4>{% trans "All those who are not authenticated will be able to watch some parts of app like,dev blog,(which is additional aplication,where i will be sharing my thoughts about app bugs and improvements), but not  task manager itself." %}</h4>
        <h4>{% trans "In final version of app, blog will be removed (i suppose)." %}</h4>
        <h4>{% trans "Application is available on English,Ukrainian and Russian.Main version is English" %}</h4>
          <h4>
          {% trans "Please register to start creating your own projects and tasks." %}
      </h4>

          <h4>{% trans "If you want know more check" %} <a href='{% url "about" %}'>ABOUT </a>{% trans " page" %}</h4>


{% endblock content %}