{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Form</h1>
<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-md btn-info" type="submit" value="Edit Task"/>
</form>

{% endblock content %}



