{% extends "base.html" %}
{% load i18n %}
{% block content %}

<p>Task menu</p>
<ul>
    <li>{% trans "task name" %}  |  {{ task.task_name }}</li>
    <li>{% trans "task prio" %}  |  {{ task.task_priority }}</li>
    <li>{% trans "task status" %}  |  {{ task.task_status }}</li>
    <li>{% trans "task deadline" %}  |  {{ task.deadline }}</li>
</ul>

{% endblock content %}



