{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<!--search field starts-->

<form  class="search-blog"  method="GET"  action="">
    <input class="search-input" type="text" name="query" value="{{ request.GET.query }}"/>
    <input class="search-button" type="submit" value="SEARCH">
</form>

<!--search field ends-->

              <table class="table table-bordered table-striped sortable" style="margin-top:20px;">
    <thead>
      <tr>
            <th>{% trans "username" %}</th>
            <th>{% trans "first name" %}</th>
            <th>{% trans "last name" %}</th>
            <th>{% trans "send message" %}</th>
      </tr>
    </thead>
          <tbody>
{% for user in userlist %}
              <tr>
        <td>
            <a href='{% url "profile" id=user.id %}'>{{ user.username }}</a>
        </td>
                  <td>
                      {{ user.first_name }}
                  </td>
        <td>
            {{ user.last_name }}
        </td>
        <td>
            <a onclick="sndMsg({{ user.id }})"class="btn btn-md btn-primary"  role="button" data-toggle="modal"
             data-target="#create">{% trans "Send private message" %}</a>
          <div class="modal fade" tabindex="-1" role="dialog" id="create">
                <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Send message" %}</h4>
      </div>
      <div class="modal-body">
          <form method="POST" id='snd'  enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy  }}
                    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "back" %}</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Send"/>
                       </div>
          </form>
      </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->


        </td>
              </tr>



        {% endfor %}


                    </tbody>
  </table>

{% endblock content %}
